@font-face {
    font-family: 'Graphik LCG';
    src: local('Graphik LCG Black Italic'), local('GraphikLCG-BlackItalic'),
        url('GraphikLCG-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}